<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>A Basic HTML5 Template</title>
    <meta name="description" content="An elegant and modern HTML5 template for personal or professional projects.">
    <meta name="author" content="Yonjou Victorin">

    <!-- Open Graph Metadata (for social sharing) -->
    <meta property="og:title" content="Yonjou's Project">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://yourwebsite.com">
    <meta property="og:description"
          content="Explore Yonjou Victorin's innovative project using modern web development techniques.">
    <meta property="og:image" content="https://yourwebsite.com/preview-image.png">

    <!-- Favicon and Touch Icons -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <!--links-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">


    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/styles.css">  <!--  relative the web server root / public folder-->
</head>

<body>
{{>header}}

<!-- Main Content -->
<main class="err-page-main">
    <div class="err-number-wrapper"><span>4</span><div></div><span class="flipped-num">4</span></div>
    <p class="error-message">{{errorMessage}}</p>
    <p class="not-found-msg">The page you are looking for was not found.</p>
    {{>footer}}
    <button class="err-page-btn"><a href="/">Back to Home</a></button>
</main>


<!-- JavaScript -->
</body>
</html>
