<footer class="footer">
    <div class="footer-icons-container">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-youtube"></i>
    </div>
    <div class="footer-links-container">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
        <a href="#">Terms of Use</a>
        <a href="#">Privacy Policy</a>
    </div>
    <div class="copyright-wrapper">
         <p>A footer was created by: {{name}} &copy;2024</p>
    </div>
</footer>